*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,#de6161,#2657eb);
    padding-top: 70px;
   
}
.container{
    width: 100%;
    height: 600px;
    background-color: #C5DFF8;
    border-radius: 30px;
    display: flex;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#first{
    width: 70%;
    height: 600px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7));
    background-position: center;
    background-size: cover;
    border-radius: 30px 0px 0px 30px;
}
#second{
    width: 75%;
    height: 600px;
    padding-right: 0%;
}
#first h1{
    color: #fff;
    font-size: 80px;
    margin-top: 150px;
    text-align: center;
}
section p{
    color: #fff;
    font-size: 20px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 10px;
}
#tagline{
    letter-spacing: normal;
    font-size: 18px;
    margin-top: 50px;
    line-height: 30px;
    color: whitesmoke;
}
.active{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    box-shadow: rgba(0,0,0,0,0.3) 0px 19px 38px, rgba(0,0,0,0.22) 0px 15px 12px;
    transition: all 0,5s;
}
.box{
    background-color: var(--primary-color);
    padding: 30px;
    width: 400px;
    text-align: center;
    border-radius: var(--border-radius);
}
.qr-header input{
    width: 100%;
    margin-block: 12px;
}

.qr-header input, select{
    padding: 10px;
    border-radius: var(--border-radius);
    font-size: 20px;
    outline: none;
    border: 2px solid var(--border-color);
}

.qr-header label{
    color: var(--secondary-color);
    font-size: 20px;
}

.qr-header div{
    display: flex;
    justify-content: space-between;
}

.qr-footer{
    display: flex;
    justify-content: center;
}
.qr-footer a{
        width: 150px;
        height: 40px;
        margin-top: 25px;
        margin-left: 40px;
        font-size: 18px;
        outline: none;
        border: none;
        box-shadow: rgba(50, 50,93,0.25) 0px 2px 5px -1px, rgba(0,0, 0, 0.3) 0px 1px 3px -1px;
        background-color: #2657eb;
        color: #fff;
        font-weight: 500;
        border-radius: 10px;
        transition: 0.4s;
        text-decoration: none;
        text-align: center;
    }
.qr-footer a:hover{
        cursor: pointer;
        background-color: #de6161;
    }
.qr-body{
    display: grid;
    place-items: center;
    padding:20px;
}

.qr-body img{
    max-width: 100%;
    max-height: 100%;
    margin-block: 10px;
    padding: 20px;
    border: 0.5px solid var(--border-color);
    border-radius: var(--border-radius);
}

@media screen and (max-width:520px){
    .box{
        width: 80%;
    }
    .qr-footer a{
        padding: 12px;
        font-size: 16px;
    }
}
div.column-flex{
    display: flex;
    flex-direction: column;
}
#Third{
    width: 45%;
    height: 600px;
    padding-right: 50px;
    background: linear-gradient(to left, #C5DFF8,#de6161);
    border-radius: 0px 30px 30px 0px;
}
div.card{
    height: 115px;
    width: 350px;
    border-radius: 20px;
    border-top-right-radius: 0;
    background: gray;
    color: whitesmoke;
    margin: 50px 20px;
    transition: .5s easy;
    overflow: hidden;
}
div.card:hover{
    transform: translate(-5px,-5px);
    height: 500px;
    box-shadow: 10px 10px  12px rgb(0, 0,0,.5);
}
div.upper{
    flex:3;
    width: 100%;
    height: 115px;
    border-top-left-radius:20px;
    padding-top: 20px;
    z-index: 1;
    position: relative;
}
div.lower{
    background: transparent;
    flex: 2;
    width: 100%;
    height: 25%;
    color: whitesmoke;
    position: relative;
    justify-content: space-around;
    z-index: 0;
}
div.value{
    height: 50px;
    margin: 5px 0;
    padding: 10px 0;
    background: linear-gradient(to left,rgb(34,34,34,0),#1c1c1c, rgb(34,34,34,0));
}



